h1.title {
    font-size: 1.7em;
}

.reveal h2 {
    font-size: 1.4em;
}

.reveal {
    z-index:10;
}

#light.circle {
    z-index: 10000;
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: 0px 0px 50px #FF0000;
    display: none;
}

#light.line {
    z-index: 10000;
    top: 50px;
    left: 50px;
    width: 600px;
    height: 10px;
    position: absolute;
    box-shadow: 0px 0px 5px #FF0000;
    background-color: rgba(255, 0, 0, 0.4);
    display: none;
}
