.reveal section img {
  max-width: 80%;
  max-height: 55vh;
  border: 0px;
  background-color: transparent;
  box-shadow: none;
}

section p {
  text-align: left;
}

.reveal pre code {
  max-height: 550px;
}

.reveal section img.smaller {
  max-height: 50%;
  max-width: 50%;
}
